<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>너의 그림은</title>

    <style type="text/css">
      canvas{border: 1px solid black};
    </style>
    <!-- Bootstrap Core CSS -->

    {% load staticfiles %}
    <link href="{% static 'ti/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'ti/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{% static 'ti/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'ti/css/stylish-portfolio.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">88한 8조</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">김영국</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">박찬영</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">백승원</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">너의 그림은..</h1>
        <h3 class="mb-5">
          <em>Draw a Character what you want to know!</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Let's draw!!</a>
      </div>
      <div class="overlay"></div>
    </header>
    <!-- About -->
    <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
              <canvas id="canvas" width="500" height="500">
              </canvas>
          </div>
        </div>
      </div>
      <div class="container text-center">
        <div style="border: 1px; float: left; width: 33%;">
          <h5>{{probl2}}</h5>
        </div>
        <div style="border: 1px; float: left; width: 33%;">
          <h5>{{probl1}}</h5>
        </div>
        <div style="border: 1px; float: left; width: 33%;">
          <h5>{{probl3}}</h5>
        </div>
      </div>
      <div class="container text-center">
        <div><form action="/#about" method="post" id="frm" enctype="multipart/form-data"></div>
      {% csrf_token %}
        <input type="hidden" id="canvasData" name="canvasData">
        <input type='submit' value="submit" onclick='updateData();' class="btn btn-dark btn-xl js-scroll-trigger">
        {% csrf_token %}
      </form>
        <input type='button' value="eraser" onclick='erase();' class="btn btn-dark btn-xl js-scroll-trigger">

        <a class="btn btn-dark btn-xl js-scroll-trigger" href="#page-top">look up</a>
      </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'ti/vendor/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'ti/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'ti/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'ti/js/stylish-portfolio.min.js' %}"></script>

    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'ti/cv.js' %}">
    </script>

    <script type="text/javascript">
      function fromDataURL(ctx){
        // var copyCanvas = document.getElementById('copyCanvas');
        // var copyContext = copyCanvas.getContext('2d');
        //copyContext.drawImage(canvas,0,0);
        var image = new Image();
        image.src = "{% static 'ti/drawpic.png' %}";
        image.onload = function(){
          ctx.drawImage(image,0,0);
        }

      }
    </script>
    <script type="text/javascript">
      function erase(){
        var canvas, ctx;
        canvas = document.getElementById("canvas");
        ctx = canvas.getContext("2d");
        ctx.fillStyle = 'white'; // 채우기 색 지정
        ctx.globalAlpha = "1.0"; // 채우기 투명도 설정
        ctx.fillRect(0,0,500,500);
      }
    </script>
    <script type="text/javascript">
      function updateData(){
        //document.getElementById('qwe').innerHTML = canvas.toDataURL();
        var cD = document.getElementById('canvasData');
        cD.value = canvas.toDataURL();
        //document.getElementById('tf').innerHTML = cD.value;
        //$('#canvasData')[0].value = $('canvas')[0].toDataURL();
        //ocument.getElementById('tf').innerHTML = $('#canvasData')[0].value
      }
    </script>
  </body>

</html>
